# App Core Settings
APP_SECRET=your-secret-key-here
APP_ENV=development # development or production
APP_ALLOWED_HOSTS=localhost,127.0.0.1

# EMAIL Settings
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
